/dts-v1/;
#include <arm/st/g4/stm32g473.dtsi>

/ {
    model = "ZGM Motor Control Board";
    compatible = "zgm,zgm_001", "st,stm32g473";

    chosen {
        zephyr,console = &usart1;
        zephyr,flash = &flash0;
        zephyr,sram = &sram0;
    };

    leds {
        compatible = "gpio-leds";
        status_led: led_0 {
            gpios = <&gpioc 4 GPIO_ACTIVE_HIGH>;  // PC4 引脚，高电平点亮
            label = "Status LED";
        };
    };
};

/* 配置 HSE 时钟 */
&clk_hse {
    clock-frequency = <24000000>;
    status = "okay";
};

/* 配置调试串口 USART1 */
&usart1 {
    current-speed = <115200>;
    pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
    status = "okay";
};